 <div class="home-page">

  <!-- Splash banner that only shows when not logged in -->
  <div class="banner" show-authed="false">
    <div class="container">
      <h1 class="logo-font" ng-bind="::$ctrl.appName | lowercase"></h1>
      <p>Cheapest bitcoins on the internet.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">


      <!-- Main view - contains tabs & article list -->
      <div class="col-xs-12 col-md-9">
        <div class="row vcenter">
          <div class="col-xs-10 offset-xs-2 col-md-6 offset-md-0" bb-show-buy>
            <div class="responsive-circle sell-circle hvr-grow">
              <a ui-sref="app.transaction.buy">
                <div class="circle-inner">BUY</div>
              </a>
            </div>
          </div>
          <div class="col-xs-10 offset-xs-2 col-md-6 offset-md-0" bb-show-sell>
            <div class="responsive-circle buy-circle hvr-grow">
              <a ui-sref="app.transaction.sell">
                <div class="circle-inner">SELL</div>
              </a>  
            </div>
          </div>            
        </div>
        <!-- Tabs for toggling between feed, article lists -->
        <!-- <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">

            <li class="nav-item" show-authed="true">
              <a href="" class="nav-link"
                ng-class="{ active: $ctrl.listConfig.type === 'feed' }"
                ng-click="$ctrl.changeList({ type: 'feed' })">
                Your Feed
              </a>
            </li>

            <li class="nav-item">
              <a href="" class="nav-link"
                ng-class="{ active: $ctrl.listConfig.type === 'all' && !$ctrl.listConfig.filters }"
                ng-click="$ctrl.changeList({ type: 'all' })">
                Global Feed
              </a>
            </li>

            <li class="nav-item" ng-show="$ctrl.listConfig.filters.tag">
              <a href="" class="nav-link active">
                <i class="ion-pound"></i> {{$ctrl.listConfig.filters.tag}}
              </a>
            </li>

          </ul>
        </div> -->

        <!-- List the current articles -->
        <!-- <article-list limit="10" list-config="$ctrl.listConfig"></article-list> -->

      </div>

      <!-- Sidebar where popular tags are listed -->
      <div class="col-xs-12 col-md-3">
        <div class="sidebar">

          <p>Exchange rates</p>
          <bb-show-exchange></bb-show-exchange>

          <!-- <div class="tag-list" ng-show="$ctrl.tags">
            <a href="" class="tag-default tag-pill"
              ng-click="$ctrl.changeList({ type: 'all', filters: { tag: tagName } })"
              ng-repeat="tagName in $ctrl.tags"
              ng-bind="tagName">
            </a>
          </div>

          <div ng-show="!$ctrl.tagsLoaded">
            Loading tags...
          </div>

          <div class="post-preview"
            ng-show="$ctrl.tagsLoaded && !$ctrl.tags.length">
            No tags are here... yet.
          </div> -->

        </div>
      </div>

      <!-- End the row & container divs -->
    </div>
  </div>

</div>
